<div fxLayout="row" class="main-informations-container">
    <div fxFlex="10"></div>
    <div fxFlex="80">
        <div class="jumbotron">
            <h1>Attendance Manager</h1>
            <p>The technology wise attendance check system</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body">
                Attendance Manager is an academic project that is being created at Poznań University of Technology. It focuses on creating
                centralized system for checking students attendance at various forms of classes using ELS - intelligent student
                card. It allows to register attendance using electronic card readers in which university computers are equipped.
                Web application allows you to view and modify all events that represent classes, as well as manually edit
                attendance lists if neccessary.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tech</h3>
            </div>
            <div class="panel-body">
                Attendance Manager is build on technological stack composed of latest solutions in various system areas:
                <ul>
                    <li> - ASP.NET Core</li>
                    <li> - Entity Framework Core</li>
                    <li> - MS SQL Server 2016</li>
                    <li> - Microsoft Azure</li>
                    <li> - Angular 4</li>
                    <li> - Webpack</li>
                    <li> - Angular Material Design</li>
                    <li> - Bootstrap 4</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Team</h3>
            </div>
            <div class="panel-body">
                Meet our team:
                <ul>
                    <li> Krzysztof Adamczak</li>
                    <li> Wojciech Agaciński</li>
                    <li> Jakub Piotr</li>
                </ul>
            </div>
        </div>
    </div>
    <div fxFlex="10"></div>
</div>