.count-column {
  width: 20px !important;
}

.fa.fa-spinner {
  color: orange;
}

.fa.fa-bell-o {
  color: green;
}

.fa.fa-hourglass-end {
  color: red;
}

.ui-widget-header {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding-bottom: 15px !important;
}
