<table class="table table-striped table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Course name</th>
    <th>Status</th>
    <th>Cyclical</th>
    <th>Restricted</th>
    <th>Day</th>
    <th>Next date</th>
    <th>Time</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events; let i = index" class="custom-table-row">
    <th scope="row">{{i+1}}</th>
    <th>{{event.name}}</th>
    <th><a *ngIf="event.courseUnit">{{event.courseUnit.course.courseName}}</a></th>
    <th>
      <i *ngIf="event.eventStatus === 0" class="status"><i class="fa fa-spinner" aria-hidden="true"></i> Incoming</i>
      <i *ngIf="event.eventStatus === 1" class="status"><i class="fa fa-bell-o" aria-hidden="true"></i> Active</i>
    </th>
    <th>
      <i *ngIf="event.isCyclical"><i class="fa fa-clock-o" aria-hidden="true"></i> Yes</i>
      <i *ngIf="!event.isCyclical">No</i>
    </th>
    <th>
      <i *ngIf="event.isRestricted">Yes</i>
      <i *ngIf="!event.isRestricted">No</i>
    </th>
    <th>{{event.timeSlot.dayOfWeek}}</th>
    <th>{{event.date | date: 'dd/MM/yyyy'}}</th>
    <th>
      {{event.timeSlot.beginTime | amUtc | amDateFormat: 'HH:mm'}} - {{event.timeSlot.endTime | amUtc | amDateFormat:
      'HH:mm'}}
    </th>
    <th class="events-list-buttons-container">
      <button md-raised-button (click)="showDetails(event)" style="background-color: aquamarine;">Show details</button>
      <button md-raised-button (click)="removeEvent(event)" style="background-color: rgb(255, 153, 153);">Remove</button>
    </th>
  </tr>
  </tbody>
</table>
