<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none;">
  <div style="display:inline-block;">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  </div>
  <div style="display:inline-block;">
    <button pButton type="button" label="Add" icon="fa fa-plus" [disabled]="addEnabled()" style="font-weight: bold;"></button>
    <button pButton type="button" class="ui-button-success" label="Edit" icon="fa fa-pencil" [disabled]="editRemoveEnabled()" style="font-weight: bold;"></button>
    <button pButton type="button" class="ui-button-danger" label="Remove" icon="fa fa-trash" [disabled]="editRemoveEnabled()" style="font-weight: bold;"></button>
  </div>
</div>
<p-dataTable #dataTable [value]="data" [rows]="15" [paginator]="true" [resizableColumns]="true"
             columnResizeMode="fit" [globalFilter]="gb" [rows]="10" [paginator]="true"
             [pageLinks]="3" [responsive]="true" [stacked]="stacked" selectionMode="single"
             (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)">
  <p-column header="#" [style]="{'width': '30px'}">
    <ng-template let-col let-data="rowData" let-index="rowIndex" pTemplate="body">
      <div style="text-align: left;">
        {{index+1}}
      </div>
    </ng-template>
  </p-column>
  <p-column field="name" header="Name" [style]="{'width':'150px'}" [sortable]="true"></p-column>
  <p-column field="status" header="Status" [sortable]="true" [style]="{'overflow':'visible','width': '70px'}">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <i *ngIf="data.status === 'Incoming'" class="status"><i class="fa fa-spinner" aria-hidden="true"></i> Incoming</i>
      <i *ngIf="data.status === 'Active'" class="status"><i class="fa fa-bell-o" aria-hidden="true"></i> Active</i>
      <i *ngIf="data.status === 'Expired'" class="status"><i class="fa fa-hourglass-end" aria-hidden="true"></i>
        Expired</i>
    </ng-template>
  </p-column>
  <p-column field="repeatable" header="Cyclical" [sortable]="true" [style]="{'width': '60px'}">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <i *ngIf="data.repeatable"><i class="fa fa-clock-o" aria-hidden="true"></i> Yes</i>
      <i *ngIf="!data.repeatable">No</i>
    </ng-template>
  </p-column>
  <p-column field="standardDay" header="Day" [style]="{'width': '60px'}" [sortable]="true"></p-column>
  <p-column field="date" header="Next Date" [sortable]="true" [style]="{'width': '70px'}">
    <ng-template let-col let-data="rowData" pTemplate="body">
      {{data.date}}
    </ng-template>
  </p-column>
  <p-column header="Time" [style]="{'width': '70px'}">
    <ng-template let-col let-data="rowData" pTemplate="body">
      {{data.beginTime}}-{{data.endTime}}
    </ng-template>
  </p-column>
  <p-column field="courseName" header="Course name" [style]="{'width': '110px'}" [sortable]="true"></p-column>
</p-dataTable>
