.fa.fa-spinner {
  color: orange;
}

.fa.fa-bell-o {
  color: green;
}

.fa.fa-hourglass-end {
  color: red;
}

.custom-table-row th {
  vertical-align: middle;
}

.events-list-buttons-container {
  text-align: center;
}

.events-list-buttons-container button {
  font-weight: bold;
}

.events-list-buttons-container button:first-child {
  background-color: aquamarine;
}

.events-list-buttons-container button:last-child {
  background-color: rgb(255, 153, 153);
}