.event-details-accordion-container {
  padding-top: 50px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.event-details-buttons-panel-container {
  padding-top: 50px;
}

.event-details-buttons-panel-container button {
  width: 100%;
}

.save-button {
  background-color: dodgerblue;
}

.cancel-button {
  background-color: deepskyblue;
}

.edit-button {
  background-color: chartreuse;
  float: right;
}

.event-details-accordion-title {
  width: 100%;
  height: 100%;

  font-size: 20px;
  font-weight: bold;

  color: black;
}

.event-details-panel-template {
  font-size: 16px;
}

.event-details-panel-element-title {
  font-weight: bold;
}

.event-details-panel-row {
  padding-top: 20px;
}

.calendar-icon {
  width: 1.2rem;
  height: 1rem;
  cursor: pointer;
  margin-left: -0.5em;
  margin-top: -0.3em;
  font-size: 22px;
}

.calendar-icon-disabled {
  width: 1.2rem;
  height: 1rem;
  margin-left: -0.5em;
  margin-top: -0.3em;
  font-size: 22px;
}

.next-date-label {
  font-size: 16px;
  padding-bottom: 0.5em;
}

.label-text {
  font-size: 16px;
}

.label-text-from {
  padding-right: 0.5em;
}

.label-text-to {
  padding-left: 1em;
  padding-right: 0.5em;
}

.event-details-accordion {
  height: 700px;
  overflow-y: auto;
}

.custom-table-row th {
  vertical-align: middle;
}

.custom-table thead,
.custom-table tbody {
  width: 100% !important;
  min-width: 100% !important;
}

.custom-table-container {
  height: 50vh;
}

.table tbody {
  overflow-y: auto;
}

.events-list-buttons-container {
  text-align: center;
}

.events-list-buttons-container button {
  font-weight: bold;
  background-color: rgb(255, 153, 153);
}