<div fxLayout="row" *ngIf="editEnabled && editAllFutureEvents">
  <div fxFlex="20"></div>
  <div fxFlex="60">
    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong> Editing this event will be apply to all incoming events of this type.
    </div>
  </div>
  <div fxFlex="20"></div>
</div>

<div fxLayout="row" *ngIf="!editEnabled || (editEnabled && !editAllFutureEvents)">
  <br/>
</div>

<form [formGroup]="eventDetailsForm" novalidate (ngSubmit)="saveEvent(eventDetailsForm.value, eventDetailsForm.valid)">
  <div fxLayout="row">
    <div fxFlex="20"></div>
    <div fxFlex="60">
      <div fxLayout="row">
        <div fxFlex="20">
          <button md-raised-button type="submit" [disabled]="!eventDetailsForm.dirty && !editEnabled" class="save-button">
            Save
          </button>
        </div>
        <div fxFlex="20">
          <button md-raised-button type="button" [disabled]="!editEnabled" class="cancel-button" (click)="cancel()">
            Cancel
          </button>
        </div>
        <div fxFlex="50"></div>
        <div fxFlex="10">
          <button md-raised-button type="button" [disabled]="editEnabled" class="edit-button" (click)="enableEditMode()">
            Edit
          </button>
        </div>
      </div>
    </div>
    <div fxFlex="20"></div>
  </div>

  <div fxLayout="row" class="event-details-accordion-container">
    <div fxFlex="20"></div>
    <div fxFlex="60">
      <div class="event-details-accordion">
        <ngb-accordion activeIds="basicInfoPanel">
          <ngb-panel id="basicInfoPanel">
            <ng-template ngbPanelTitle>
              <p class="event-details-accordion-title">Basic informations</p>
            </ng-template>
            <ng-template ngbPanelContent class="event-details-panel-template">
              <div fxLayout="row">
                <div fxFlex="100" *ngIf="!editEnabled">
                  <a class="event-details-panel-element-title">Name: </a> {{event.name}}
                </div>
                <div fxFlex="100" *ngIf="editEnabled && event.eventStatus === 0">
                  <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Name" formControlName="name">
                  </md-input-container>
                </div>
                <div fxFlex="100" *ngIf="editEnabled && event.eventStatus === 1">
                  <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Name" disabled value="{{event.name}}">
                  </md-input-container>
                </div>
              </div>
              <div fxLayout="row" class="event-details-panel-row">
                <div fxFlex="50" *ngIf="!editEnabled">
                  <a class="event-details-panel-element-title">Status:</a>
                  <a *ngIf="event.eventStatus === 0">Incoming</a>
                  <a *ngIf="event.eventStatus === 1">Active</a>
                </div>
                <div fxFlex="50" *ngIf="editEnabled">
                  <md-input-container style="width: 100%;" *ngIf="event.eventStatus === 0">
                    <input mdInput placeholder="Status" disabled value="Incoming">
                  </md-input-container>
                  <md-input-container style="width: 100%;" *ngIf="event.eventStatus === 1">
                    <input mdInput placeholder="Status" disabled value="Active">
                  </md-input-container>
                </div>
                <div fxFlex="50" *ngIf="!editEnabled">
                  <a class="event-details-panel-element-title">Restricted: </a>
                  <a *ngIf="event.isRestricted">Yes</a>
                  <a *ngIf="!event.isRestricted">No</a>
                </div>
                <div fxFlex="50" *ngIf="editEnabled && event.eventStatus === 0">
                  <md-checkbox color="primary" formControlName="isRestricted"> Restricted
                  </md-checkbox>
                </div>
                <div fxFlex="50" *ngIf="editEnabled && event.eventStatus === 1">
                  <md-checkbox color="primary" disabled [checked]="isRestricted"> Restricted
                  </md-checkbox>
                </div>
              </div>
              <div fxLayout="row" class="event-details-panel-row" *ngIf="!editEnabled && eventDetailsForm.get('isCyclical').value">
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">Cyclical: </a>
                  <a *ngIf="event.isCyclical">Yes</a>
                  <a *ngIf="!event.isCyclical">No</a>
                </div>
                <div fxFlex="50" *ngIf="!editEnabled">
                  <a class="event-details-panel-element-title">Every: </a>{{event.cycleIntervalWeekNumber}} week.
                </div>
                <div fxFlex="50" *ngIf="editEnabled && event.eventStatus === 0">
                  <md-input-container style="width: 160px;">
                    <input type="number" mdInput placeholder="Every ... week" min="1" formControlName="cycleIntervalWeekNumber">
                  </md-input-container>
                </div>
              </div>
              <div fxLayout="row" class="event-details-panel-row" *ngIf="editEnabled">
                <div fxFlex="50" *ngIf="event.eventStatus === 0">
                  <md-checkbox color="primary" formControlName="isCyclical">
                    Cyclical
                  </md-checkbox>
                </div>
                <div fxFlex="50" *ngIf="event.eventStatus === 1">
                  <md-checkbox color="primary" disabled [checked]="isCyclical">
                    Cyclical
                  </md-checkbox>
                </div>
                <div fxFlex="50" *ngIf="eventDetailsForm.get('isCyclical').value && event.eventStatus === 0">
                  <md-input-container style="width: 100%;">
                    <input type="number" mdInput placeholder="Every ... week" value="{{event.cycleIntervalWeekNumber}}" min="1" formControlName="cycleIntervalWeekNumber">
                  </md-input-container>
                </div>
                <div fxFlex="50" *ngIf="eventDetailsForm.get('isCyclical').value && event.eventStatus === 1">
                  <md-input-container style="width: 100%;">
                    <input type="number" mdInput placeholder="Every ... week" value="{{event.cycleIntervalWeekNumber}}" disabled value="{{cycleIntervalWeekNumber}}">
                  </md-input-container>
                </div>
              </div>
              <div fxLayout="row" class="event-details-panel-row" *ngIf="!editEnabled">
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">Next event date: </a>{{event.date | date: 'dd/MM/yyyy'}}
                </div>
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">Time:</a> {{event.timeSlot.beginTime | amUtc | amDateFormat:
                  'HH:mm'}} - {{event.timeSlot.endTime | amUtc | amDateFormat: 'HH:mm'}}
                </div>
              </div>
              <div fxLayout="row" class="event-details-panel-row" *ngIf="editEnabled">
                <div fxFlex="20" *ngIf="event.eventStatus === 0 || event.eventStatus === 1">
                  <label class="next-date-label">Next event date: </label>
                  <div class="input-group">
                    <input class="form-control" name="data" [(ngModel)]="modelDate" ngbDatepicker #datePicker="ngbDatepicker" [minDate]="minDate"
                      [ngModelOptions]="{standalone: true}">
                    <div class="input-group-addon" (click)="datePicker.toggle()">
                      <i class="material-icons calendar-icon">perm_contact_calendar</i>
                    </div>
                  </div>
                </div>
                <div fxFlex="30"></div>
                <div fxFlex="50" class="form-inline" formGroupName="timeSlot" *ngIf="event.eventStatus === 0">
                  <label class="label-text label-text-from">From: </label>
                  <ngb-timepicker [(ngModel)]="modelBeginTime" formControlName="beginTime"></ngb-timepicker>
                  <label class="label-text label-text-to">To: </label>
                  <ngb-timepicker [(ngModel)]="modelEndTime" formControlName="endTime"></ngb-timepicker>
                </div>
                <div fxFlex="50" *ngIf="event.eventStatus === 1">
                  <a class="event-details-panel-element-title">Time:</a> {{event.timeSlot.beginTime | amUtc | amDateFormat:
                  'HH:mm'}} - {{event.timeSlot.endTime | amUtc | amDateFormat: 'HH:mm'}}
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="(event ? (event.courseUnit ? event.courseUnit : false) : false) && !editEnabled">
            <ng-template ngbPanelTitle>
              <p class="event-details-accordion-title">Course informations</p>
            </ng-template>
            <ng-template ngbPanelContent class="event-details-panel-template">
              <div fxLayout="row" *ngIf="!editEnabled">
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">Name: </a><a *ngIf="event.courseUnit">{{event.courseUnit.course.courseName}}</a>
                </div>
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">ECTS: </a><a *ngIf="event.courseUnit">{{event.courseUnit.course.ects}}</a>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="editEnabled && event.eventStatus === 0" formGroupName="courseUnit">
            <ng-template ngbPanelTitle>
              <p class="event-details-accordion-title">Course informations</p>
            </ng-template>
            <ng-template ngbPanelContent class="event-details-panel-template">
              <div fxLayout="row" *ngIf="editEnabled && event.eventStatus === 0">
                <div fxFlex="50">
                  <div fxLayout="row">
                    <div fxFlex="25">
                      <a>Change course: </a>
                    </div>
                    <div fxFlex="75">
                      <md-select placeholder="Course" style="width: 100%;" [(ngModel)]="newCourseUnit" [ngModelOptions]="{standalone: true}" (change)="courseUnitChanged()">
                        <md-option *ngFor="let course of courses" [value]="course">{{course.course.courseName}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>
                </div>
                <div fxFlex="50">
                  <div fxLayout="row">
                    <div fxFlex="50"></div>
                    <div fxFlex="50">
                      <button md-raised-button type="button" [disabled]="!eventDetailsForm.get('courseUnit.id').value" (click)="removeCourse()"
                        class="add-user-button">
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" *ngIf="editEnabled && eventDetailsForm.get('courseUnit.id').value" class="event-details-panel-row" formGroupName="course">
                <div fxFlex="50">
                  <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Name" formControlName="courseName">
                  </md-input-container>
                </div>
                <div fxFlex="50">
                  <md-input-container style="width: 100%;">
                    <input mdInput placeholder="ECTS" formControlName="ects">
                  </md-input-container>
                </div>
              </div>
              <div fxLayout="row" class="event-details-panel-row" *ngIf="!editEnabled">
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">Course total hours: </a><a *ngIf="event.courseUnit">{{event.courseUnit.courseType.hoursNumber}}</a>
                </div>
              </div>
              <div fxLayout="row" class="event-detail-panel-row" *ngIf="editEnabled && eventDetailsForm.get('courseUnit.id').value" formGroupName="courseType">
                <div fxFlex="50">
                  <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Course total hours" formControlName="hoursNumber">
                  </md-input-container>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="(event ? (event.lecturer ? event.lecturer : false) : false) && !editEnabled">
            <ng-template ngbPanelTitle>
              <p class="event-details-accordion-title">Lecturer informations</p>
            </ng-template>
            <ng-template ngbPanelContent class="event-details-panel-template">
              <div fxLayout="row" *ngIf="!editEnabled">
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">Name: </a>{{event.lecturer.name}}
                </div>
                <div fxFlex="50">
                  <a class="event-details-panel-element-title">Surname: </a>{{event.lecturer.surname}}
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="editEnabled && event.eventStatus === 0">
            <ng-template ngbPanelTitle>
              <p class="event-details-accordion-title">Lecturer informations</p>
            </ng-template>
            <ng-template ngbPanelContent class="event-details-panel-template">
              <div fxLayout="row">
                <div fxFlex="50">
                  <div fxLayout="row">
                    <div fxFlex="25">
                      <a>Change lecturer: </a>
                    </div>
                    <div fxFlex="75">
                      <md-select placeholder="Lecturer" style="width: 100%;" [(ngModel)]="newLecturerUnit" [ngModelOptions]="{standalone: true}"
                        (change)="lecturerChanged()">
                        <md-option *ngFor="let lecturer of lecturers" [value]="lecturer">{{lecturer.name}} {{lecturer.surname}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>
                </div>
                <div fxFlex="50">
                  <div fxLayout="row">
                    <div fxFlex="50"></div>
                    <div fxFlex="50">
                      <button md-raised-button type="button" [disabled]="!eventDetailsForm.get('lecturer.id').value" (click)="removeLecturer()"
                        class="add-user-button">
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" *ngIf="eventDetailsForm.get('lecturer.id').value" class="event-details-panel-row" formGroupName="lecturer">
                <div fxFlex="50">
                  <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Name" formControlName="name">
                  </md-input-container>
                </div>
                <div fxFlex="50">
                  <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Surname" formControlName="surname">
                  </md-input-container>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="event.isRestricted">
            <ng-template ngbPanelTitle>
              <p class="event-details-accordion-title">List of eligible participants</p>
            </ng-template>
            <ng-template ngbPanelContent class="event-details-panel-template">
              <div fxLayout="row" *ngIf="event.isRestricted && editEnabled" class="add-user-button-container">
                <div fxFlex="30">
                  <md-select placeholder="Select by name and surname" [(ngModel)]="selectedParticipant" [ngModelOptions]="{standalone: true}">
                    <md-option *ngFor="let attendee of attendees" [value]="attendee">
                      {{ attendee.name }} {{ attendee.surname }}
                    </md-option>
                  </md-select>
                </div>
                <div fxFlex="30">
                  <md-select placeholder="Select by student number" [(ngModel)]="selectedParticipant" [ngModelOptions]="{standalone: true}">
                    <md-option *ngFor="let attendee of attendees" [value]="attendee">
                      {{ attendee.studentNumber }}
                    </md-option>
                  </md-select>
                </div>
                <div fxFlex="60"></div>
                <div fxFlex="10">
                  <button md-raised-button type="button" [disabled]="!selectedParticipant" (click)="addNewEligibleParticipant()" class="add-user-button">
                    Add
                  </button>
                </div>
                <br/>
              </div>
              <div fxLayout="row">
                <div fxFlex="100">
                  <div class="custom-table-container">
                    <table class="table table-striped table-hover custom-table">
                      <thead class="thead-inverse">
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Surname</th>
                          <th>Pesel</th>
                          <th>Student number</th>
                          <th>Is student</th>
                          <th *ngIf="event.isRestricted && editEnabled"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of eligibleParticipantsList; let i = index" class="custom-table-row">
                          <th scope="row">{{i+1}}</th>
                          <th>{{user.name}}</th>
                          <th>{{user.surname}}</th>
                          <th>{{user.pesel}}</th>
                          <th>{{user.studentNumber}}</th>
                          <th>
                            <a *ngIf="user.isStudent">Yes</a>
                            <a *ngIf="!user.isStudent">No</a>
                          </th>
                          <th *ngIf="event.isRestricted && editEnabled" class="events-list-buttons-container">
                            <button md-raised-button type="button" (click)="removeUserFromAttendeesList(user)" style="background-color: rgb(255, 153, 153);">
                            Remove
                          </button>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="event.eventStatus === 1">
            <ng-template ngbPanelTitle>
              <p class="event-details-accordion-title">Attendance list</p>
            </ng-template>
            <ng-template ngbPanelContent class="event-details-panel-template">
              <div fxLayout="row" *ngIf="event.eventStatus === 1" class="add-user-button-container">
                <div fxFlex="30">
                  <md-select placeholder="Select by name and surname" [(ngModel)]="selectedAttendee" [ngModelOptions]="{standalone: true}">
                    <md-option *ngFor="let attendee of attendees" [value]="attendee">
                      {{ attendee.name }} {{ attendee.surname }}
                    </md-option>
                  </md-select>
                </div>
                <div fxFlex="30">
                  <md-select placeholder="Select by student number" [(ngModel)]="selectedAttendee" [ngModelOptions]="{standalone: true}">
                    <md-option *ngFor="let attendee of attendees" [value]="attendee">
                      {{ attendee.studentNumber }}
                    </md-option>
                  </md-select>
                </div>
                <div fxFlex="60"></div>
                <div fxFlex="10">
                  <button md-raised-button type="button" [disabled]="!selectedAttendee" (click)="addUserToAttendeesList()" class="add-user-button">
                    Add
                  </button>
                </div>
                <br/>
              </div>
              <div fxLayout="row">
                <div fxFlex="100">
                  <div class="custom-table-container">
                    <table class="table table-striped table-hover custom-table">
                      <thead class="thead-inverse">
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Surname</th>
                          <th>Pesel</th>
                          <th>Student number</th>
                          <th>Is student</th>
                          <th *ngIf="event.eventStatus === 1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of attendeesList; let i = index" class="custom-table-row">
                          <th scope="row">{{i+1}}</th>
                          <th>{{user.name}}</th>
                          <th>{{user.surname}}</th>
                          <th>{{user.pesel}}</th>
                          <th>{{user.studentNumber}}</th>
                          <th>
                            <a *ngIf="user.isStudent">Yes</a>
                            <a *ngIf="!user.isStudent">No</a>
                          </th>
                          <th *ngIf="event.eventStatus === 1" class="events-list-buttons-container">
                            <button md-raised-button type="button" (click)="removeUserFromAttendeesList(user)" style="background-color: rgb(255, 153, 153);">
                            Remove
                          </button>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
    <div fxFlex="20"></div>
  </div>
</form>