<div fxLayout="row">
  <div fxFlex="20"></div>
  <div fxFlex="60">
    <md-tab-group>
      <md-tab>
        <template md-tab-label><i class="fa fa-list" aria-hidden="true"></i> List</template>
        <div class="tree-view-tab">
          <app-events-list></app-events-list>
        </div>
      </md-tab>
      <md-tab>
        <template md-tab-label><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</template>
        <div class="tree-view-tab">
          <app-events-calendar></app-events-calendar>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
  <div fxFlex="20"></div>
</div>
