<br />

<div fxLayout="row" class="event-details-accordion-container">
  <div fxFlex="20"></div>
  <div fxFlex="60">
    <div class="event-details-accordion">
      <ngb-accordion activeIds="basicInfoPanel">
        <ngb-panel id="basicInfoPanel">
          <ng-template ngbPanelTitle>
            <p class="event-details-accordion-title">Basic informations</p>
          </ng-template>
          <ng-template ngbPanelContent class="event-details-panel-template">
            <div fxLayout="row">
              <div fxFlex="100">
                <a class="event-details-panel-element-title">Name: </a> {{event.name}}
              </div>
            </div>
            <div fxLayout="row" class="event-details-panel-row">
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Status:</a> Inactive
              </div>
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Restricted: </a>
                <a *ngIf="event.isRestricted">Yes</a>
                <a *ngIf="!event.isRestricted">No</a>
              </div>
            </div>
            <div fxLayout="row" class="event-details-panel-row">
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Cyclical: </a>
                <a *ngIf="event.isCyclical">Yes</a>
                <a *ngIf="!event.isCyclical">No</a>
              </div>
              <div fxFlex="50" *ngIf="event.isCyclical">
                <a class="event-details-panel-element-title">Every: </a>{{event.cycleIntervalWeekNumber}} week.
              </div>
            </div>
            <div fxLayout="row" class="event-details-panel-row">
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Next event date: </a>{{event.date | date: 'dd/MM/yyyy'}}
              </div>
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Time:</a> {{event.timeSlot.beginTime | amUtc | amDateFormat:
                'HH:mm'}} - {{event.timeSlot.endTime | amUtc | amDateFormat: 'HH:mm'}}
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel *ngIf="event.courseUnit">
          <ng-template ngbPanelTitle>
            <p class="event-details-accordion-title">Course informations</p>
          </ng-template>
          <ng-template ngbPanelContent class="event-details-panel-template">
            <div fxLayout="row">
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Name: </a><a *ngIf="event.courseUnit">{{event.courseUnit.course.courseName}}</a>
              </div>
              <div fxFlex="50">
                <a class="event-details-panel-element-title">ECTS: </a><a *ngIf="event.courseUnit">{{event.courseUnit.course.ects}}</a>
              </div>
            </div>
            <div fxLayout="row" class="event-details-panel-row">
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Course total hours: </a><a *ngIf="event.courseUnit">{{event.courseUnit.courseType.hoursNumber}}</a>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel *ngIf="event.lecturer">
          <ng-template ngbPanelTitle>
            <p class="event-details-accordion-title">Lecturer informations</p>
          </ng-template>
          <ng-template ngbPanelContent class="event-details-panel-template">
            <div fxLayout="row">
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Name: </a>{{event.lecturer.name}}
              </div>
              <div fxFlex="50">
                <a class="event-details-panel-element-title">Surname: </a>{{event.lecturer.surname}}
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel *ngIf="event.IsRestricted">
          <ng-template ngbPanelTitle>
            <p class="event-details-accordion-title">List of eligible participants</p>
          </ng-template>
          <ng-template ngbPanelContent class="event-details-panel-template">
            <div fxLayout="row">
              <div fxFlex="100">
                <div class="custom-table-container">
                  <table class="table table-striped table-hover custom-table">
                    <thead class="thead-inverse">
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Pesel</th>
                        <th>Student number</th>
                        <th>Is student</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of eligibleParticipantsList; let i = index" class="custom-table-row">
                        <th scope="row">{{i+1}}</th>
                        <th>{{user.name}}</th>
                        <th>{{user.surname}}</th>
                        <th>{{user.pesel}}</th>
                        <th>{{user.studentNumber}}</th>
                        <th>
                          <a *ngIf="user.isStudent">Yes</a>
                          <a *ngIf="!user.isStudent">No</a>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <p class="event-details-accordion-title">Attendance list</p>
          </ng-template>
          <ng-template ngbPanelContent class="event-details-panel-template">
            <div fxLayout="row">
              <div fxFlex="30">
                <md-select placeholder="Select by name and surname" [(ngModel)]="selectedAttendee" [ngModelOptions]="{standalone: true}">
                  <md-option *ngFor="let attendee of attendees" [value]="attendee">
                    {{ attendee.name }} {{ attendee.surname }}
                  </md-option>
                </md-select>
              </div>
              <div fxFlex="30">
                <md-select placeholder="Select by student number" [(ngModel)]="selectedAttendee" [ngModelOptions]="{standalone: true}">
                  <md-option *ngFor="let attendee of attendees" [value]="attendee">
                    {{ attendee.studentNumber }}
                  </md-option>
                </md-select>
              </div>
              <div fxFlex="60"></div>
              <div fxFlex="10">
                <button md-raised-button type="button" [disabled]="!selectedAttendee" (click)="addUser()" class="add-user-button">
                    Add
                  </button>
              </div>
            </div>
            <br />
            <div fxLayout="row">
              <div fxFlex="100">
                <div class="custom-table-container">
                  <table class="table table-striped table-hover custom-table">
                    <thead class="thead-inverse">
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Pesel</th>
                        <th>Student number</th>
                        <th>Is student</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of attendeesList; let i = index" class="custom-table-row">
                        <th scope="row">{{i+1}}</th>
                        <th>{{user.name}}</th>
                        <th>{{user.surname}}</th>
                        <th>{{user.pesel}}</th>
                        <th>{{user.studentNumber}}</th>
                        <th>
                          <a *ngIf="user.isStudent">Yes</a>
                          <a *ngIf="!user.isStudent">No</a>
                        </th>
                        <th class="events-list-buttons-container">
                          <button md-raised-button type="button" (click)="removeUserFromAttendeesList(user)" style="background-color: rgb(255, 153, 153);">
                              Remove
                            </button>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div fxFlex="20"></div>
</div>