md-sidenav {
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    width: 200px;
    background-color: rgb(22, 4, 4);
    color: white;
}

md-sidenav-container {
  width: 200px;
}

md-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

md-sidenav button {
    text-align: left;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    height: 60px;
    width: 100%;
}

md-sidenav button span:first-child {
  font-size: 20px;
  padding-left: 10px;
}

md-sidenav button i{
  font-size: 42px;
  margin-left: 30px;
}

md-sidenav button:hover {
  background-color: rgb(89, 89, 89)
}