.event-details-accordion-container {
    padding-top: 50px;
}

.event-details-buttons-panel-container {
    padding-top: 50px;
}

.event-details-buttons-panel-container button {
    width: 100%;
}

.save-button {
    background-color: dodgerblue;
}

.cancel-button {
    background-color: deepskyblue;
}

.edit-button {
    background-color: chartreuse;
}

.event-details-accordion-title {
    width: 100%;
    height: 100%;

    font-size: 24px;
    font-weight: bold;

    color: black;
}

.event-details-panel-template {
    font-size: 16px;
}

.event-details-panel-element-title {
    font-weight: bold;
}

.event-details-panel-row {
    padding-top: 20px;
}