.remove-dialog-text {
    font-size: 24px;
}

.remove-dialog-buttons-container {
    padding-top: 20px;
    text-align: center;
}

.remove-dialog-buttons-container button {
    font-weight: bold;
}

.remove-dialog-buttons-container button:first-child {
    background-color: cornflowerblue;
}

.remove-dialog-buttons-container button:last-child {
    background-color: rgb(255, 153, 153);
}