<div  style="padding-bottom: 15px; vertical-align: middle; text-align: right">
  <button pButton type="button" label="Expand all" (click)="expandAll()"></button>
  <button pButton type="button" label="Collapse all" (click)="collapseAll()"></button>
</div>
<p-tree #expandingTree class="tree-custom" [value]="data" layout="vertical" selectionMode="single"
        (onNodeSelect)="nodeSelect($event)">
  <ng-template let-node pTemplate="event">
    <i *ngIf="node.type === 'event'" class="fa fa-calendar-o" aria-hidden="true"></i> {{node.label}}
    <i *ngIf="node.status === 'incoming'" class="status"><i class="fa fa-spinner" aria-hidden="true"></i> Incoming</i>
    <i *ngIf="node.status === 'active'" class="status"><i class="fa fa-bell-o" aria-hidden="true"></i> Active</i>
    <i *ngIf="node.status === 'expired'" class="status"><i class="fa fa-hourglass-end" aria-hidden="true"></i>
      Expired</i>
    <i *ngIf="node.repeatable" class="status"><i class="fa fa-clock-o" aria-hidden="true"></i> Cyclical</i>
    <i *ngIf="node.status === 'incoming'" class="status">{{node.date}} {{node.timeFrom}}-{{node.timeTo}}</i>
  </ng-template>
</p-tree>
